body {
    font-family: 'Noto Serif TC', serif;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1{
    font-family: 'Noto Serif TC', serif;
    text-emphasis: none;
}

.subheading {
    font-family: 'Noto Serif TC', serif;
    text-emphasis: none;
}

.expedu_icon {
    color: #20c997
}

.expedu_icon:hover {
    background-color: #20c997;
    color:#fff
    
}
